<div class="todo-item" [class.completed]="todo.completed">
  <div *ngIf="!isEditing; else editMode" class="todo-item-view">
    <div class="todo-checkbox">
      <p-button
        [icon]="todo.completed ? primeIcons.CHECK_CIRCLE : primeIcons.CIRCLE"
        [text]="true"
        [outlined]="!todo.completed"
        [severity]="todo.completed ? 'success' : 'secondary'"
        (onClick)="onToggleCompleted()"
      >
      </p-button>
      <!-- <input 
            type="checkbox" 
            [checked]="todo.completed" 
            (change)="onToggleCompleted()"
            id="todo-{{ todo.id }}"
            > -->
      <label for="todo-{{ todo.id }}" [class.completed]="todo.completed">{{
        todo.title
      }}</label>
    </div>
    <div class="todo-actions">
      <p-button
        [icon]="primeIcons.PENCIL"
        label="Edit"
        [text]="true"
        [rounded]="true"
      ></p-button>
      <!-- [routerLink]="['/todos', todo.id]"> -->
      <p-button
        [icon]="primeIcons.TRASH"
        label="Delete"
        [text]="true"
        [rounded]="true"
        severity="danger"
        (onClick)="onDeleteTodo()"
      >
      </p-button>
      <!-- <button class="btn-edit" (click)="startEdit()">Edit</button>
      <button class="btn-delete" (click)="onDeleteTodo()">Delete</button> -->
    </div>
  </div>

  <ng-template #editMode>
    <div class="todo-item-edit">
      <input
        type="text"
        [(ngModel)]="editedTitle"
        (keyup.enter)="saveEdit()"
        (keyup.escape)="cancelEdit()"
        class="edit-input"
      />
      <div class="edit-actions">
        <button class="btn-save" (click)="saveEdit()">Save</button>
        <button class="btn-cancel" (click)="cancelEdit()">Cancel</button>
      </div>
    </div>
  </ng-template>
</div>
