<div class="todo-detail-container">
  <h2>{{ isNewTodo ? 'Create New Task' : 'Task Details' }}</h2>

  <div class="control-section">
    <p-button
      [icon]="primeIcons.ARROW_LEFT"
      [text]="true"
      label="Back to Tasks"
      styleClass="p-button-outlined p-button-secondary mr-2"
      (click)="navigateBack()"
    ></p-button>
  </div>

  <form [formGroup]="todoForm">
    <div class="field">
      <label for="title">Title</label>
      <input
        id="title"
        type="text"
        pInputText
        formControlName="title"
        class="w-full"
        placeholder="What you need to do?"
      />
      @if (todoForm.controls['title'].invalid && todoForm.controls['title'].touched) {
        <small class="p-error"> Title is required </small>
      }
    </div>

    <div class="field-checkbox">
      <p-checkbox formControlName="completed" [binary]="true" inputId="completed"> </p-checkbox>
      <label for="completed">Mark as completed</label>
    </div>

    <div class="field flex flex-column">
      <label for="project">Project</label>
      <p-dropdown
        id="project"
        formControlName="projectId"
        [options]="(projects$ | async) || []"
        optionLabel="label"
        optionValue="value"
        placeholder="Select a project (optional)"
        [showClear]="true"
      ></p-dropdown>
    </div>

    <div class="field">
      <label for="description">Description</label>
      <textarea
        id="description"
        pInputTextarea
        formControlName="description"
        rows="5"
        class="w-full"
        placeholder="Add some details about this task..."
      >
      </textarea>
    </div>
  </form>

  <div class="action-buttons">
    <p-button
      [icon]="primeIcons.SAVE"
      (click)="onSubmit()"
      [label]="'Save Task'"
      severity="success"
      [disabled]="todoForm.invalid"
    >
    </p-button>

    @if (!isNewTodo) {
      <p-button
        type="button"
        label="Delete Task"
        [icon]="primeIcons.TRASH"
        severity="danger"
        (click)="confirmDelete()"
      >
      </p-button>
    }
  </div>

  <p-confirmDialog />
</div>
